* {
    box-sizing: border-box;
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.transforms-app {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.stage {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #ff000099;
    color: white;
    width: 6em;
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;

    &--animated {
        transition: transform 1s ease;
    }
}

.controls {
    border-top: 1px solid silver;
    padding: 0.5em;
    display: flex;
    flex-direction: column;

    &__animate {
        cursor: pointer;
    }

    &__textarea {
        min-height: 100px;
        padding: 0.5em;
    }

    .button {
        margin: 0 0.25em 0.5em;
        background-color: rgb(92, 92, 167);
        color: white;
        border-radius: 0.25em;
        border: 0;
        padding: 0.5em 1em;
        cursor: pointer;
        font-family: 'Courier New', Courier, monospace;

        &:hover {
            opacity: 0.85;
        }

        &--reset {
            background-color: rgb(216, 57, 57);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    }
}
