li {
    display: flex;
    list-style: none;
    padding: 0.5em;
}

li img {
    order: -1;
    width: 4em;
    margin-right: 1em;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.loader {
    width: 2em;
    height: 2em;
    background:
        transparent
        url('https://classes.codingbootcamp.cz/assets/classes/1478/kisspng-lolcat-kitten-pet-5afe4a36c9ec56.1433183815266145828271.png')
        center/contain
        no-repeat scroll;
    animation: rotation 1s infinite linear;
}

}